<%= bootstrap_form_for(@genre) do |f| %>
<%= render 'layouts/errordiv', entity: @genre, name:"genre" %>

<div class="field">
    <%= f.text_field :name %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<br><br>
<% end %>
