<div class="container">
<h1>Welcome to MZeimets Videomanagement Site!</h1>
<%=link_to "Videos", videos_path %>
<a href="https://github.com/mzeimet/ror2016movieManagement"><p>Github page</p></a>
</div>
